body {
    background-image: url("../img/membretada.png");
    width: 100%;
   }
.barra{

    position: fixed;
    top: 0;
    border-width: 0 0 1px;
}
.sep{
    margin-top: 0px;
    width: 100%;
}

.tnm{

margin-left: 800px;
}

.ani{
    margin-left: 1100px;
    width: 100px;
    height: 80px;
}


.pie{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%; 
}