
.barra{

    position: fixed;
    top: 0;
    border-width: 0 0 1px;
}
.sep{
    position: fixed;
    margin-top: 0px;
    width: 100%;
}

.tnm{

margin-left: 800px;
}

.ani{
    margin-left: 1100px;
    width: 100px;
    height: 80px;
}

div.cuerpo{
    
    padding-left: 10%;
    padding-right: 10%;;
    
    

}

.pie{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%; 
}